<footer class="mt-5 pt-5">
  <div class="container w-100 font-weight-bold">
    <div class="row">
      <div class="col-md-6">
        <strong>Credits</strong>
        <table class="table table-sm">
          <tr>
            <td>Main Director:</td>
            <td><a href="github.com/cale-mccollough">Cale McCollough</a></td>
          </tr>
          <tr>
            <td>Game Engine:</td>
            <td>Interactive Gym Environment and Educational Kit</td>
          </tr>
            <tr>
              <td>Audio Director:</td>
              <td><a href="github.com/cale-mccollough">Cale McCollough</a></td>
            </tr>
            <tr>
              <td>Co-Director</td>
              <td>David McCollough</td>
            </tr>
          </table>
          <p class="text-muted">Copyright &copy; {{ site.copyright }}</p>
        </div>

        <div class="col-md-6">
          <strong><a href="https://github.com/kabuki-starship">Kabuki Starship</a> Links</strong>
          <table class="table table-sm">
            <tr>
              <td><a href="https://github.com/kabuki-starship/script2">Script2</a></td>
              <td><a href="https://github.com/kabuki-starship/kabuki.toolkit">Kabuki Toolkit</a></td>
              <td><a href="https://github.com/kabuki-starship/igeek">IGEEK</a></td>
              <td><a href="https://github.com/kabuki-starship/unseenia.toolkit">Unseenia Toolkit</a></td>
              <td><a href="https://github.com/kabuki-starship/unseenia.cookbook">Unseenia Cookbook</a></td>
            </tr>
          </table>
        </div>

      </div>
    </div>  
  </footer>